
body{
    background: #e4e2e296;
}
.shadow {
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5) !important; */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}
.card{
    /* border: 1px solid rgba(0, 0, 0, .125); */
    border: 0 none !important;
}
#draggable{
    z-index: 1;
}

.json_variable{
    overflow-y: scroll;
}

@media (min-width: 1200px) {
.container {
    max-width: 85%;
}
}